* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px dotted red; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}
.header-logo {
    width: 250px;
    height:auto;
}

.header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 75px;
    font-weight: bold;
    font-size: 14pt;
}
    .header-options li {
        list-style-type: none;
        display: inline-block;
    }
        .dropdown-arrow {
            width: 22px;
            height: auto;
        }
    
    .shopping-cart {
        background-color: #b8b8b8;
        border: 0px;
        padding: 15px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75px;
        font-weight: bold;
        font-size: 14pt;
    }

        .shopping-cart img {
            width: 25px;
            height: auto;
        }

.gray-border-bottom {
    border-bottom: 2px solid #b8b8b8;
}

main {
    width: 1600px;
    margin: auto;
    height: 700px;
}
    section {
        padding: 30px 0px 40px 0px;
    }
    h2 {
        margin: 15px 0px;
    }

    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
    }


    .store-card {
        width: 480px;
        height: 80px;
        border-radius: 12px;
        box-shadow: 0px 0px 10px 3px #b8b8b8;
        margin: 20px 20px 20px 0px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
        .store-logo {
            border-radius: 50%;
            margin-right: 20px;
            border: 1px solid #b8b8b8;
        }

        .store-card ul li {
            list-style-type: none;
            margin: 3px 0px;
        }

        .store-name {
            font-size: 16pt;
            font-weight: bold;
        }
        .order-type {
            font-size: 13pt;
        }

        .last-visited {
            font-size: 13pt;
            color: #72767e;
        }

        #walmart-image {
            background-image: url('./images/walmart-card.jpg');
            
        }

        #aldi-image {
            background-image: url('./images/aldi-card.jpg');
        }

        #vallarta-image {
            background-image: url('./images/vallarta-card.jpg')
        }

        .big-card {
            height: 220px;
            display: flex;
            background-position: center;
            background-size: cover;
        }

        .store-info {
            display: flex;
            padding: 15px;
            flex-wrap: wrap;
            align-items: center;
            background-color: white;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -15px;
            width: 480px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            align-self: flex-end;
        }

        .new-store {
            color: #7aaadb;
            font-weight: bold;
        }